workflows/n8n-linkedin-api-official.json
{
  "name": "Green Hub Portal - LinkedIn API Oficial",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Schedule Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "requestMethod": "GET",
        "url": "https://api.linkedin.com/v2/organizationalEntityShareStatistics?q=organizationalEntity&organizationalEntity=urn:li:organization:YOUR_ORGANIZATION_ID",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "count",
                "value": "10"
              }
            ]
          }
        }
      },
      "name": "Get LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_LINKEDIN_OAUTH_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transformar datos de LinkedIn API a formato del portal\nconst items = [];\n\ntry {\n  const response = $input.first().json;\n  const elements = response.elements || [];\n  \n  for (const element of elements) {\n    // Obtener detalles del post\n    const shareUrn = element.organizationalEntity || '';\n    const shareId = shareUrn.split(':').pop();\n    \n    items.push({\n      id: Date.now() + items.length,\n      title: `LinkedIn Update - ${shareId}`,\n      content: element.commentary || element.specificContent?.shareCommentary?.text || 'Ver publicación en LinkedIn',\n      description: element.commentary?.substring(0, 150) || '',\n      date: new Date(element.created?.time || Date.now()).toISOString().split('T')[0],\n      link: `https://www.linkedin.com/feed/update/${shareUrn}`,\n      source: 'LinkedIn - Green Hub',\n      isNew: true,\n      category: 'LinkedIn',\n      stats: {\n        likes: element.totalShareStatistics?.likeCount || 0,\n        comments: element.totalShareStatistics?.commentCount || 0,\n        shares: element.totalShareStatistics?.shareCount || 0\n      }\n    });\n  }\n} catch (error) {\n  console.error('Error parsing LinkedIn data:', error);\n  throw new Error('Failed to parse LinkedIn API response: ' + error.message);\n}\n\nreturn items;"
      },
      "name": "Format LinkedIn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://your-green-hub-portal.com/api/news",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { items: $json } }}",
        "options": {}
      },
      "name": "Send to Portal API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "content": "✅ Successfully imported {{ $json.imported || 0 }} LinkedIn posts to Green Hub Portal",
        "options": {}
      },
      "name": "Success Log",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Schedule Every 12 Hours": {
      "main": [
        [
          {
            "node": "Get LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Format LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LinkedIn Data": {
      "main": [
        [
          {
            "node": "Send to Portal API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Portal API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
