workflows/n8n-linkedin-integration.json
{
  "name": "Green Hub Portal - LinkedIn Integration (RSS Bridge)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://your-rss-bridge-server:3000/?action=display&bridge=LinkedIn&context=Company&u=green-hub&format=Atom",
        "options": {
          "timeout": 30000
        }
      },
      "name": "LinkedIn via RSS Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "notes": "RSS Bridge must be deployed separately. See docs/RSS_FEED_INTEGRATION.md"
    },
    {
      "parameters": {
        "mode": "xmlToJson",
        "options": {}
      },
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract LinkedIn posts from RSS Bridge Atom feed\nconst items = [];\n\ntry {\n  const feed = $input.first().json;\n  const entries = feed.feed?.entry || [];\n  \n  // Handle both single entry and array of entries\n  const entryArray = Array.isArray(entries) ? entries : [entries];\n  \n  for (const entry of entryArray) {\n    if (!entry) continue;\n    \n    items.push({\n      id: Date.now() + items.length,\n      title: entry.title?._text || entry.title || 'LinkedIn Update',\n      content: entry.content?._text || entry.summary?._text || '',\n      description: entry.summary?._text || '',\n      date: new Date(entry.published?._text || entry.updated?._text || Date.now())\n        .toISOString()\n        .split('T')[0],\n      link: entry.link?._attributes?.href || entry.id?._text || '',\n      source: 'LinkedIn - Green Hub',\n      isNew: true,\n      category: 'LinkedIn'\n    });\n  }\n} catch (error) {\n  throw new Error('Failed to parse LinkedIn feed: ' + error.message);\n}\n\nreturn items;"
      },
      "name": "Format LinkedIn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://your-green-hub-portal.com/api/news",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { items: $json } }}",
        "options": {}
      },
      "name": "Send to Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "LinkedIn via RSS Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn via RSS Bridge": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Format LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LinkedIn Data": {
      "main": [
        [
          {
            "node": "Send to Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "green-hub-portal"
  }
}
