workflows/n8n-rss-feed-workflow.json
{
  "name": "Green Hub Portal - RSS Feed Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=https://techcrunch.com/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "name": "RSS Feed - TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "=https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "name": "RSS Feed - BBC News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Format RSS items for Green Hub Portal\nconst items = [];\n\nfor (const item of $input.all()) {\n  const source = item.json.link?.includes('techcrunch') ? 'TechCrunch' : 'BBC News';\n  \n  items.push({\n    id: Date.now() + items.length,\n    title: item.json.title || '',\n    content: item.json.content || item.json.description || '',\n    description: item.json.description || '',\n    date: new Date(item.json.pubDate || Date.now()).toISOString().split('T')[0],\n    link: item.json.link || '',\n    source: source,\n    isNew: true,\n    category: 'Noticias Externas'\n  });\n}\n\nreturn items;"
      },
      "name": "Format for Portal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://your-green-hub-portal.com/api/news",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "items",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Portal API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "message": "=✅ Successfully updated Green Hub Portal with {{ $json.items.length }} news items",
        "additionalFields": {}
      },
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": "your-telegram-credentials"
      }
    },
    {
      "parameters": {
        "message": "=❌ Error updating Green Hub Portal: {{ $json.error }}",
        "additionalFields": {}
      },
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "telegramApi": "your-telegram-credentials"
      }
    }
  ],
  "connections": {
    "Schedule Every 6 Hours": {
      "main": [
        [
          {
            "node": "RSS Feed - TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed - BBC News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed - TechCrunch": {
      "main": [
        [
          {
            "node": "Format for Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed - BBC News": {
      "main": [
        [
          {
            "node": "Format for Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Portal": {
      "main": [
        [
          {
            "node": "Send to Portal API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Portal API": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
